In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor,GradientBoostingRegressor,ExtraTreesRegressor
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import explained_variance_score,max_error,mean_absolute_error,mean_squared_error,median_absolute_error,r2_score,mean_poisson_deviance,mean_gamma_deviance
from math import sqrt

In [2]:
data1 = pd.read_csv('output/train_all.csv', index_col=0)
data2 = pd.read_csv('inputs/predict.csv', index_col=0)

In [3]:
data1

,carat,cut,color,clarity,depth,table,x,y,z,price,color2,cut2,clarity2
id,,,,,,,,,,,,,
0,1.12,Premium,H,SI1,61.6,59.0,6.67,6.63,4.10,5363,4,3,2
1,1.14,Very Good,E,SI2,60.0,54.0,6.74,6.97,4.11,5593,1,4,3
2,0.90,Very Good,D,SI2,60.3,63.0,6.12,6.22,3.72,3534,0,4,3
3,0.71,Ideal,E,VS1,61.9,54.0,5.74,5.76,3.56,3212,1,2,4
4,0.34,Very Good,F,SI2,60.0,62.0,4.51,4.55,2.72,447,2,4,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
40450,0.90,Good,D,SI1,63.8,58.0,6.13,6.09,3.90,4120,0,1,2
40451,0.35,Ideal,D,VVS1,62.0,54.0,4.56,4.57,2.83,1266,0,2,6
40452,0.90,Good,G,SI2,58.4,55.0,6.34,6.39,3.72,3269,3,1,3
40453,1.21,Good,H,SI1,63.6,56.0,6.63,6.68,4.23,5893,4,1,2
40454,0.41,Ideal,H,VVS1,61.4,56.0,4.80,4.77,2.94,1115,4,2,6

In [4]:
#data1.cut.value_counts(),data1.cut2.value_counts()

In [5]:
def cutchanger(x):
    if x== "Ideal":
        return 2
    elif x== "Premium":
        return 3
    elif x == "Very Good":
        return 4
    elif x== "Good":
        return 1
    else:
        return 0

In [6]:
#data1.color.value_counts(),data1.color2.value_counts()

In [7]:
def colorchanger(x):
    if x== "G":
        return 3
    elif x== "E":
        return 1
    elif x == "F":
        return 2
    elif x== "H":
        return 4
    elif x== "D":
        return 0
    elif x== "I":
        return 5
    else:
        return 6

In [8]:
#data1.clarity.value_counts(),data1.clarity2.value_counts()

In [9]:
def clarytychanger(x):
    if x== "SI1":
        return 2
    elif x== "VS2":
        return 5
    elif x == "SI2":
        return 3
    elif x== "VS1":
        return 4
    elif x== "VVS2":
        return 7
    elif x== "VVS1":
        return 6
    elif x== "IF":
        return 1
    else:
        return 0

In [10]:
#data2.cut.value_counts(),data2.color.value_counts(),data2.clarity.value_counts()

In [11]:
data2.cut = data2.cut.apply(cutchanger)
data2.color = data2.color.apply(colorchanger)
data2.clarity = data2.clarity.apply(clarytychanger)

In [12]:
#data2.cut.value_counts(),data2.color.value_counts(),data2.clarity.value_counts()

In [13]:
data_datos = data1[["carat","cut2","color2","clarity2","x","y","z"]]
data_target = data1[["price"]]
data_datos,data_target

(       carat  cut2  color2  clarity2     x     y     z
 id
 0       1.12     3       4         2  6.67  6.63  4.10
 1       1.14     4       1         3  6.74  6.97  4.11
 2       0.90     4       0         3  6.12  6.22  3.72
 3       0.71     2       1         4  5.74  5.76  3.56
 4       0.34     4       2         3  4.51  4.55  2.72
 ...      ...   ...     ...       ...   ...   ...   ...
 40450   0.90     1       0         2  6.13  6.09  3.90
 40451   0.35     2       0         6  4.56  4.57  2.83
 40452   0.90     1       3         3  6.34  6.39  3.72
 40453   1.21     1       4         2  6.63  6.68  4.23
 40454   0.41     2       4         6  4.80  4.77  2.94

 [40455 rows x 7 columns],
        price
 id
 0       5363
 1       5593
 2       3534
 3       3212
 4        447
 ...      ...
 40450   4120
 40451   1266
 40452   3269
 40453   5893
 40454   1115

 [40455 rows x 1 columns])

In [14]:
model = RandomForestRegressor(criterion="mse",max_features="auto",oob_score=False,n_estimators=600,n_jobs=-1)
for i in list(range(0,5)):
    X_train,X_test,y_train,y_test = train_test_split(data_datos,data_target, test_size = 0.2)
    model.fit(X_train,y_train)
    y_pred= model.predict(X_test)
    print(f"1 expvariance ", round(explained_variance_score(y_test,y_pred),3))
    print(f"1 maxerr ", round(max_error(y_test,y_pred),3))
    print(f"1 meanabserr ", round(mean_absolute_error(y_test,y_pred),3))
    print(f"1 meansqr ", round(mean_squared_error(y_test,y_pred),3))
    print(f"1 root meansqr ", round(sqrt(mean_squared_error(y_test,y_pred)),3))
    print(f"1 meanabserr ", round(median_absolute_error(y_test,y_pred),3))
    print(f"1 r2-score ", round(r2_score(y_test,y_pred),3))
    print("-------------------")
model.fit(data_datos,data_target)
y_pred= model.predict(data_datos)
print(f"1 expvariance ", round(explained_variance_score(data_target,y_pred),3))
print(f"1 maxerr ", round(max_error(data_target,y_pred),3))
print(f"1 meanabserr ", round(mean_absolute_error(data_target,y_pred),3))
print(f"1 meansqr ", round(mean_squared_error(data_target,y_pred),3))
print(f"1 root meansqr ", round(sqrt(mean_squared_error(data_target,y_pred)),3))
print(f"1 meanabserr ", round(median_absolute_error(data_target,y_pred),3))
print(f"1 r2-score ", round(r2_score(data_target,y_pred),3))
print("-------------------")

<ipython-input-14-e6b39d69424d>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(X_train,y_train)

1 expvariance  0.981
1 maxerr  7257.942
1 meanabserr  277.754
1 meansqr  318653.333
1 root meansqr  564.494
1 meanabserr  98.202
1 r2-score  0.981
-------------------

<ipython-input-14-e6b39d69424d>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(X_train,y_train)

1 expvariance  0.979
1 maxerr  10104.612
1 meanabserr  283.878
1 meansqr  335884.816
1 root meansqr  579.556
1 meanabserr  103.087
1 r2-score  0.979
-------------------

<ipython-input-14-e6b39d69424d>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(X_train,y_train)

1 expvariance  0.98
1 maxerr  6581.595
1 meanabserr  277.178
1 meansqr  307819.885
1 root meansqr  554.815
1 meanabserr  100.748
1 r2-score  0.98
-------------------

<ipython-input-14-e6b39d69424d>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(X_train,y_train)

1 expvariance  0.979
1 maxerr  6966.068
1 meanabserr  289.728
1 meansqr  342470.33
1 root meansqr  585.21
1 meanabserr  103.693
1 r2-score  0.979
-------------------

<ipython-input-14-e6b39d69424d>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(X_train,y_train)

1 expvariance  0.98
1 maxerr  6211.68
1 meanabserr  279.447
1 meansqr  315415.77
1 root meansqr  561.619
1 meanabserr  100.417
1 r2-score  0.98
-------------------

<ipython-input-14-e6b39d69424d>:14: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(data_datos,data_target)

1 expvariance  0.997
1 maxerr  3430.862
1 meanabserr  102.497
1 meansqr  43288.88
1 root meansqr  208.06
1 meanabserr  36.805
1 r2-score  0.997
-------------------

In [15]:
data2.head()
data2 = data2[["carat","cut","color","clarity","x","y","z"]]

In [16]:
y_pred = model.predict(data2)
y_pred, len(y_pred)

(array([ 791.10833333, 5918.715     , 5826.40666667, ..., 2604.17166667,
        1249.65944444, 1064.68333333]),
 13485)

In [17]:
data2["price"] = y_pred
data2=data2.reset_index()

In [18]:
data2.columns

Index(['id', 'carat', 'cut', 'color', 'clarity', 'x', 'y', 'z', 'price'], dtype='object')

In [19]:
diamonds = data2[["id","price"]]
diamonds

          id         price
0          0    791.108333
1          1   5918.715000
2          2   5826.406667
3          3   1113.263333
4          4   3239.244889
...      ...           ...
13480  13480  16527.558333
13481  13481    884.801667
13482  13482   2604.171667
13483  13483   1249.659444
13484  13484   1064.683333

[13485 rows x 2 columns]

In [20]:
diamonds.to_csv(r'output/pred2.csv',index=False,header=True)

In [21]:
model2 = ExtraTreesRegressor(n_jobs=-1,n_estimators=600)
for i in list(range(0,5)):
    X_train,X_test,y_train,y_test = train_test_split(data_datos,data_target, test_size = 0.2)
    model2.fit(X_train,y_train)
    y_pred= model2.predict(X_test)
    print(f"1 expvariance ", round(explained_variance_score(y_test,y_pred),3))
    print(f"1 maxerr ", round(max_error(y_test,y_pred),3))
    print(f"1 meanabserr ", round(mean_absolute_error(y_test,y_pred),3))
    print(f"1 meansqr ", round(mean_squared_error(y_test,y_pred),3))
    print(f"1 root meansqr ", round(sqrt(mean_squared_error(y_test,y_pred)),3))
    print(f"1 meanabserr ", round(median_absolute_error(y_test,y_pred),3))
    print(f"1 r2-score ", round(r2_score(y_test,y_pred),3))
    print("-------------------")
model2.fit(data_datos,data_target)
y_pred= model2.predict(data_datos)
print(f"1 expvariance ", round(explained_variance_score(data_target,y_pred),3))
print(f"1 maxerr ", round(max_error(data_target,y_pred),3))
print(f"1 meanabserr ", round(mean_absolute_error(data_target,y_pred),3))
print(f"1 meansqr ", round(mean_squared_error(data_target,y_pred),3))
print(f"1 root meansqr ", round(sqrt(mean_squared_error(data_target,y_pred)),3))
print(f"1 meanabserr ", round(median_absolute_error(data_target,y_pred),3))
print(f"1 r2-score ", round(r2_score(data_target,y_pred),3))
print("-------------------")

<ipython-input-21-d6431ce08008>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model2.fit(X_train,y_train)

1 expvariance  0.977
1 maxerr  7143.102
1 meanabserr  283.743
1 meansqr  354956.239
1 root meansqr  595.782
1 meanabserr  99.693
1 r2-score  0.977
-------------------

<ipython-input-21-d6431ce08008>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model2.fit(X_train,y_train)

1 expvariance  0.981
1 maxerr  5625.572
1 meanabserr  283.574
1 meansqr  312100.708
1 root meansqr  558.66
1 meanabserr  102.625
1 r2-score  0.981
-------------------

<ipython-input-21-d6431ce08008>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model2.fit(X_train,y_train)

1 expvariance  0.98
1 maxerr  6832.0
1 meanabserr  279.686
1 meansqr  328076.307
1 root meansqr  572.779
1 meanabserr  100.61
1 r2-score  0.98
-------------------

<ipython-input-21-d6431ce08008>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model2.fit(X_train,y_train)

1 expvariance  0.981
1 maxerr  6545.868
1 meanabserr  279.008
1 meansqr  317053.909
1 root meansqr  563.075
1 meanabserr  102.374
1 r2-score  0.981
-------------------

<ipython-input-21-d6431ce08008>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model2.fit(X_train,y_train)

1 expvariance  0.98
1 maxerr  6686.835
1 meanabserr  279.755
1 meansqr  322314.093
1 root meansqr  567.727
1 meanabserr  101.213
1 r2-score  0.98
-------------------

<ipython-input-21-d6431ce08008>:14: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model2.fit(data_datos,data_target)

1 expvariance  1.0
1 maxerr  829.5
1 meanabserr  1.084
1 meansqr  285.638
1 root meansqr  16.901
1 meanabserr  0.0
1 r2-score  1.0
-------------------

In [22]:
y_pred = model2.predict(data2[["carat","cut","color","clarity","x","y","z"]])
y_pred, len(y_pred)

(array([ 748.98      , 5899.45166667, 5793.89333333, ..., 2473.60833333,
        1291.65666667, 1036.55166667]),
 13485)

In [29]:
data3 = data2.copy()

In [30]:
data3["price"] = y_pred
data3 = data3.reset_index()

In [31]:
data3.columns

Index(['index', 'id', 'carat', 'cut', 'color', 'clarity', 'x', 'y', 'z',
       'price'],
      dtype='object')

In [32]:
diamonds2 = data3[["id","price"]]
diamonds2

          id         price
0          0    748.980000
1          1   5899.451667
2          2   5793.893333
3          3   1066.315000
4          4   3299.123333
...      ...           ...
13480  13480  16314.110000
13481  13481    890.513333
13482  13482   2473.608333
13483  13483   1291.656667
13484  13484   1036.551667

[13485 rows x 2 columns]

In [33]:
diamonds2.to_csv(r'output/pred3.csv',index=False,header=True)